<h3>
	</br>
	<p style = "text-align:center;">
		<font size = 5>
			&nbsp; Tasks Today - 
			<%= link_to 'Schedule', work_tasks_path(:sch_day => DateTime.now) , class: "text-primary" %><br/>
			</font>
		</br>
	</p>
	<p style = "text-align:right;">
		<%= link_to 'Finish All', welcome_finished_path %>
	</p>
	</br>
</h3>

<table class = "table table-bordered table-striped table-hover">
	<tr>
		<th>Flat</th>
		<th>Cluster</th>
		<th>Task ID</th>
		<th>First available time</th>
		<th>Last available time</th>
		<th>Change Time</th>
		<th>Cancel Task</th>
		<th>Slots</th>
		<th>Status</th>
		<th>Employee</th>
		<th>Start Time</th>
		<th>End Time</th>
		<th>Finished</th>
	</tr>
</table>
